.menu{    
    color: black;    
    font-size: 15px;   
    
}

h1{
   margin-left:  80px;   
   position: fixed;
}

ol{
    text-align: center;
}

h2{
    border-top-width:500px;
}

li{
    text-align: center;
    position: fixed;
}

#logo{
    width: 80px;
}